<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/jquery-1.12.4.js"></script>
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="../layui/css/layui.css" rel="stylesheet" type="text/css">
    <script src="../layui/layui.js"></script>
    <link href="../css/documentTypeRelation.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form id="selectForm" class="layui-form" action="" style="border: 1px solid black;">
        <div class="layui-input-inline">
            <label class="layui-form-label">名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="documents_name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-input-inline">
            <label class="layui-form-label">险种类别:</label>
            <div class="layui-input-inline">
                <select name="insurance_id" lay-filter="insuranceTypeName">
                    <option value="">请选择</option>
                    <option value="2123f8d6-9d6b-11e9-8168-00163e04ed9f">车辆损失险</option>
                    <option value="212e2f48-9d6b-11e9-8168-00163e04ed9f">第三方责任险</option>
                    <option value="21467b50-9d6b-11e9-8168-00163e04ed9f">全车盗抢险</option>
                    <option value="215c1722-9d6b-11e9-8168-00163e04ed9f">司机座位责任险</option>
                    <option value="2188f736-9d6b-11e9-8168-00163e04ed9f">乘客座位责任险</option>
                    <option value="21c33c95-9d6b-11e9-8168-00163e04ed9f">玻璃单独破碎险</option>
                    <option value="2206d7db-9d6b-11e9-8168-00163e04ed9f">车身划痕险</option>
                    <option value="22231634-9d6b-11e9-8168-00163e04ed9f">涉水损失险</option>
                    <option value="223145b3-9d6b-11e9-8168-00163e04ed9f">车辆自燃险</option>
                    <option value="7402a7fd-9d6b-11e9-8168-00163e04ed9f">交强险</option>
                </select>
            </div>
        </div>
        <div class="layui-input-inline">
            <label class="layui-form-label">损失类型:</label>
            <div class="layui-input-inline">
                <select name="type_id" lay-filter="fixedLossTypeName">
                    <option value="">请选择</option>
                    <option value="1">车辆定损</option>
                    <option value="2">人伤定损</option>
                    <option value="3">物损定损</option>
                    <option value="4">盗抢定损</option>
                    <option value="5">现场查勘</option>
                </select>
            </div>
        </div>
        <div class="layui-input-inline">
            <label class="layui-form-label">是否必须:</label>
            <div class="layui-input-inline">
                <input type="radio" name="is_requried" value="1" title="是" checked="">
                <input type="radio" name="is_requried" value="0" title="否">
            </div>
        </div>
        <button id="add" onclick="addForm();" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-default">增加</button>
    </form>
    <div id="submitDiv" class="layui-input-inline">
        <div class="layui-input-inline">
            <button onclick="selectDocument();" class="layui-btn" lay-filter="demo1">查询</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" style="text-align: center;">
            <thead style="text-align: center;">
                <tr style="font-weight: 900;">
                    <td>单证名称</td>
                    <td>险种类别</td>
                    <td>损失类型</td>
                    <td>是否必须</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody th:each="d:${data.data}">
                <tr>
                    <td class="documents_name" th:text="${d.documents_name}"></td>
                    <td class="insurance_name" th:text="${d.insurance_name}"></td>
                    <td class="fixed_loss_name" th:text="${d.fixed_loss_name}"></td>
                    <td class="is_requried" th:if="${d.is_requried == '0'}">否</td>
                    <td class="is_requried" th:if="${d.is_requried == '1'}">是</td>
                    <td>
                        <button data-toggle="modal" onclick="update(this);" data-target="#myModal" type="button" class="btn btn-default">更改</button>
                        <button onclick="del(this);" type="button" class="btn btn-default">删除</button>
                        <span hidden="hidden" class="documents_id" th:text="${d.documents_id}"></span>
                        <span hidden="hidden" class="documents_name" th:text="${d.documents_name}"></span>
                        <span hidden="hidden" class="insurance_id" th:text="${d.insurance_id}"></span>
                        <span hidden="hidden" class="type_id" th:text="${d.type_id}"></span>
                        <span hidden="hidden" class="is_requried" th:if="${d.is_requried == '0'}">0</span>
                        <span hidden="hidden" class="is_requried" th:if="${d.is_requried == '1'}">1</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${data.count != 0}" id="pageDiv">
            <ul class="pagination">
                <li th:if="${data.pageIndex > 1}"><a th:href="@{|/loadDocumentTypeRelation?pageIndex=${data.pageIndex - 1}|}">&laquo;</a></li>
                <li><a style="margin-left: 10px;margin-right: 10px;" class="well well-sm">[[${data.pageIndex}]]/[[${data.pageCount}]]</a></li>
                <li th:if="${data.pageIndex < data.pageCount}"><a th:href="@{|/loadDocumentTypeRelation?pageIndex=${data.pageIndex + 1}|}">&raquo;</a></li>
            </ul>
        </div>

        <div style="width: 100px;margin: 0 auto;" th:if="${data.count == 0}">没有任何数据</div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div style="width: 750px;" class="modal-dialog layui-form">
            <div style="background-color: #EAEAEA;" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">增加类型</h4>
                </div>
                <div style="margin-top: -50px;" class="modal-body">
                    <form id="addForm" action="/add" class="layui-form form-inline">
                        <input type="text" hidden="hidden" name="documents_id" id="documents_id">
                        <div class="form-group">
                            <label class="layui-form-label">单证名称:</label>
                            <input type="text" name="documents_name" class="form-control" id="documents_name">
                        </div>
                        <div class="form-group">
                            <label class="layui-form-label">险种类别:</label>
                            <div class="layui-input-inline">
                                <select name="insurance_id" id="insurance_id" lay-filter="insurance_id">
                                    <option value="2123f8d6-9d6b-11e9-8168-00163e04ed9f">车辆损失险</option>
                                    <option value="212e2f48-9d6b-11e9-8168-00163e04ed9f">第三方责任险</option>
                                    <option value="21467b50-9d6b-11e9-8168-00163e04ed9f">全车盗抢险</option>
                                    <option value="215c1722-9d6b-11e9-8168-00163e04ed9f">司机座位责任险</option>
                                    <option value="2188f736-9d6b-11e9-8168-00163e04ed9f">乘客座位责任险</option>
                                    <option value="21c33c95-9d6b-11e9-8168-00163e04ed9f">玻璃单独破碎险</option>
                                    <option value="2206d7db-9d6b-11e9-8168-00163e04ed9f">车身划痕险</option>
                                    <option value="22231634-9d6b-11e9-8168-00163e04ed9f">涉水损失险</option>
                                    <option value="223145b3-9d6b-11e9-8168-00163e04ed9f">车辆自燃险</option>
                                    <option value="7402a7fd-9d6b-11e9-8168-00163e04ed9f">交强险</option>
                                </select>
                            </div>
                        </div>
                        <hr style="background-color: grey;"/>
                        <div class="form-group">
                            <label class="layui-form-label">损失类型:</label>
                            <div class="layui-input-inline">
                                <select id="type_id" name="type_id" lay-filter="type_id">
                                    <option value="1">车辆定损</option>
                                    <option value="2">人伤定损</option>
                                    <option value="3">物损定损</option>
                                    <option value="4">盗抢定损</option>
                                    <option value="5">现场查勘</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="layui-form-label">是否必须:</label>
                            <div class="layui-input-inline">
                                <input type="radio" id="yes" name="is_requried" value="1" title="是">
                                <input type="radio" id="no" name="is_requried" value="0" title="否">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" onclick="editDocument();" class="btn btn-primary">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
    <script>
        var form;
        var layer;
        var addOrUpdate = "add";
        layui.use(['form','layer'],function(){
            form = layui.form;
            layer = layui.layer;
        });
        
        function editDocument() {
            $('form').attr('action',addOrUpdate);
            $("#addForm").submit();
        }
        function selectDocument() {

            location.href = "loadDocumentTypeRelation?"+$("#selectForm").serialize();
        }


        function del(obj){
            var documents_id = $(obj).next().text();
            layer.alert("删除成功!",function(){
                location.href = "delete?documents_id="+documents_id;
            });
        }

        function update(obj) {
            addOrUpdate = "update";
            var documents_id = $(obj).siblings(".documents_id").text();
            var documents_name = $(obj).siblings(".documents_name").text();
            var insurance_id = $(obj).siblings(".insurance_id").text();
            var type_id = $(obj).siblings(".type_id").text();
            var is_requried = $(obj).siblings(".is_requried").text();
            $("#documents_id").val(documents_id);
            $("#documents_name").val(documents_name);
            $("#insurance_id").val(insurance_id);
            $("#type_id").val(type_id);
            if (is_requried === "1"){
                $("#yes").click();
                $("#yes").prop("checked",true);
            }else {
                $("#no").click();
                $("#no").prop("checked",true);
            }
            form.render();
        }

        function addForm() {
            addOrUpdate = "add";
            $("[name=documents_name]").val("");
            $("[name=insurance_name]").val("");
            $("[name=fixed_loss_name]").val("");
            $("#yes").click();
            form.render();
        }
    </script>
</html>